{% if msg is defined %}
<div class="bg-blue-700 p-3 text-white capitalize flex items-center justify-between" data-aos="fade-down"
    data-aos-duration="800">
    {{msg}}
    <div class="text-3xl cursor-pointer close-toast">
        <ion-icon name="close-outline"></ion-icon>
    </div>
</div>
{% endif %}
{% extends 'base.html' %}
{% block content %}
<div class="hero flex flex-col justify-center items-center w-full p-3 h-screen">
    <div
        class="mb-4 hover:ring-2 hover:ring-blue-500 hover:ring-offset-2 hover:scale-105 cursor-pointer  bg-blue-700 text-white text-3xl font-black capitalize h-16 w-16 flex items-center justify-center rounded-lg hover:shadow-lg">
        <p>{{profile[1][0]}}</p>
    </div>
    <div class="details flex flex-col items-center">
        {% if type == 'worker' %}
        <table class="m-3 bg-white">
            <tbody>
                <tr>
                    <td class="p-2 border">First Name</td>
                    <td class="p-2 border">{{profile[1]}}</td>
                </tr>
                <tr>
                    <td class="p-2 border">Last Name</td>
                    <td class="p-2 border">{{profile[2]}}</td>
                </tr>
                <tr>
                    <td class="p-2 border">Age</td>
                    <td class="p-2 border">{{profile[3]}}</td>
                </tr>
                <tr>
                    <td class="p-2 border">Contact Number</td>
                    <td class="p-2 border">{{profile[4]}}</td>
                </tr>
                <tr>
                    <td class="p-2 border">Skill</td>
                    <td class="p-2 border">{{profile[5]}}</td>
                </tr>
                <tr>
                    <td class="p-2 border">Range</td>
                    <td class="p-2 border">{{profile[6]}}</td>
                </tr>
            </tbody>
        </table>
        {% endif %}
        {% if type == 'event' %}
        <table class="m-3 bg-white">
            <tbody>
                <tr>
                    <td class="p-2 border">First Name</td>
                    <td class="p-2 border">{{profile[1]}}</td>
                </tr>
                <tr>
                    <td class="p-2 border">Last Name</td>
                    <td class="p-2 border">{{profile[2]}}</td>
                </tr>
                <tr>
                    <td class="p-2 border">Venue</td>
                    <td class="p-2 border">{{profile[3]}}</td>
                </tr>
                <tr>
                    <td class="p-2 border">Events</td>
                    <td class="p-2 border">{{profile[4]}}</td>
                </tr>
            </tbody>
        </table>
        {% endif %}
        {% if type == 'material' %}
        <table class="m-3 bg-white">
            <tbody>
                <tr>
                    <td class="p-2 border">Shop Name</td>
                    <td class="p-2 border">{{profile[1]}}</td>
                </tr>
                <tr>
                    <td class="p-2 border">Address</td>
                    <td class="p-2 border">{{profile[2]}}</td>
                </tr>
                <tr>
                    <td class="p-2 border">Contact Number</td>
                    <td class="p-2 border">{{profile[3]}}</td>
                </tr>
                <tr>
                    <td class="p-2 border">Product</td>
                    <td class="p-2 border">{{profile[4]}}</td>
                </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}