{% if msg is defined %}
<div class="bg-blue-700 p-3 text-white capitalize flex items-center justify-between" data-aos="fade-down"
    data-aos-duration="800">
    {{msg}}
    <div class="text-3xl cursor-pointer close-toast">
        <ion-icon name="close-outline"></ion-icon>
    </div>
</div>
{% endif %}
{% extends 'base.html' %}
{% block content %}
<div class="hero flex justify-center items-center w-full p-3 h-screen">
    <form action="#" method="POST" class="bg-white p-3 rounded-lg shadow-lg flex flex-col lg:w-80 md:w-80 w-full">
        <label for="title" class="text-lg font-semibold text-center p-3">
            <p>Worker's Registration</p>
        </label>
        <label for="logo" class="text-center p-3">
            <ion-icon name="cube" class="text-5xl text-blue-900 md hydrated" role="img" aria-label="cube"></ion-icon>
        </label>
        <label for="fname">
            <input voice-data="अपना पहला नाम दर्ज करें" type="text" class="w-full rounded-lg border-gray-400"
                name="fname" placeholder="enter first name" required="">
        </label>
        <label for="lname" class="mt-3">
            <input voice-data="अपना अंतिम नाम दर्ज करें" type="text" class="w-full rounded-lg border-gray-400"
                name="lname" placeholder="enter last number" required="">
        </label>
        <label for="age" class="mt-3">
            <input voice-data="अपनी आयु दर्ज करें" type="number" min="15" max="100"
                class="w-full rounded-lg border-gray-400" name="age" placeholder="enter age" required="">
        </label>
        <label for="number" class="mt-3">
            <input voice-data="अपना मोबाइल नंबर दर्ज करें" type="number" class="w-full rounded-lg border-gray-400"
                name="number" placeholder="enter number" required="">
        </label>
        <label for="skills" class="mt-3">
            <select name="skills" voice-data="अपना कौशल चुनें" class="w-full rounded-lg border-gray-400" required="">
                <option value="">select your skills</option>
                <option value="carpenter">carpenter</option>
                <option value="plumber">plumber</option>
                <option value="electrician">electrician</option>
                <option value="ac repair">ac repair</option>
                <option value="painter">painter</option>
            </select>
        </label>
        <label for="range_pref" class="mt-3">
            <select name="range_pref" voice-data="अपने काम का दायरा चुनें" class="w-full rounded-lg border-gray-400"
                required="">
                <option value="">select range</option>
                <option value="0-5 km">0-5km</option>
                <option value="5-10 km">5-10km</option>
                <option value="10-20 km">10-20km</option>
                <option value="more than 20 km">more than 20km</option>
            </select>
        </label>
        <button type="submit" name="submit"
            class="my-3 hover:ring-2 hover:ring-offset-2 hover:ring-blue-700 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 lg:py-3 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Register</button>
    </form>
</div>
<div class="backdrop fixed flex items-center justify-center top-0 w-screen h-screen bg-gray-600/25">
    <div class="modaal p-3 bg-white rounded-lg shadow-sm w-80 lg:w-3/6 md:w-3/6">
        <p class="text-lg font-semibold text-gray-700">do you want to enable Voice over instructions for filling out
            this form?</p>
        <p class="font-semibold text-gray-700">क्या आप इस फॉर्म को भरने के लिए वॉयस ओवर निर्देश सक्षम करना चाहते हैं?
        </p>
        <div class="btns w-full p-3 flex items-center justify-center">
            <button
                class="start-voiceOver bg-blue-800 px-3 py-1 rounded-lg hover:ring-2 hover:ring-offset-2 hover:ring-blue-500 text-white">Enable
                Voice Over</button>
            <button
                class="close-modaal ml-2 bg-red-600 px-3 py-1 rounded-lg hover:ring-2 hover:ring-offset-2 hover:ring-red-500 text-white">No,
                Close it</button>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename="js/voiceOver.js")}}" defer></script>
{% endblock %}